.btn-orange{
	background-color: #C76007;
	padding: 15px 20px ;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

.btn-beige{
	background-color: rgb(208, 149, 120);
	padding: 15px 20px ;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	text-align: right;

}

.btn-beige:hover{
	background-color:#C76007;
	color: white;
}

.btn-orange:hover{
	background-color:rgb(150, 59, 31);
	color: white;
}